body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin: 5px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.square:hover {
    cursor: pointer;
}

.water {
    background: rgb(17, 60, 153);
}

.protected {
    background: rgb(145, 10, 10);
}

.player-1 {
    background: rgb(100, 100, 100);
}

.player-1-turn:hover {
    background: rgb(167, 165, 165);
}

.player-2 {
    background: rgb(44, 125, 9);
}

.player-2-turn:hover {
    background: rgb(103, 236, 45);
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}